@import '../fonts/gilroy.css';

body {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 105.8%;
}
.main {
    background-image: url('../images/main-screen.png');
    background-size: cover;
    background-position: center;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-width: 300px;
    left: 49px;
    padding: 97px 0px 101px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.lang-box {
    position: fixed;
    top: 96px;
    right: 171px;
    z-index: 99;
    justify-content: flex-end;
    align-self: flex-end;
    max-width: 100px;
}
.lang-box a {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    transition: .6s ease;
}
.lang-box a.active {
    font-weight: bold;
    margin: 0px 10px;
}
a {
    color: #000;
    text-decoration: none;
}
.nav {
    flex-direction: column;
}
.nav a {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    transition: .6s ease;
    position: relative;
}
#nav a:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 3px;
    background-color: #000;
    transition: inherit;
}
#nav a.active:before {
    width: 100%;
}
.black a {
    color: #000;
}
.nav-footer svg path {
    transition: .6s ease;
}
.black svg path {
    fill: #000 !important;
}
.social-networks {
    margin: 23px 10px;
}
.social-networks a {
    margin-left: 10px;
}
.intro {
    align-self: center;
}
section:not(.footer) {
    padding: 0px 248px 0px 420px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section div {
    justify-content: center;
    flex-direction: column;
}
.main {
    color: #fff;
}
.intro-header {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 160px;
    line-height: 92.3%;
    /* or 148px */
    margin-bottom: 61px;
}
.intro-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
}

.header {
    font-weight: 600;
    font-size: 100px;
    line-height: 92.3%;
    display: flex;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
}
.company-box {
    position: relative;
    margin: 52px 0px 86px 0px;
}
.company-img {
    width: 100%;
    object-fit: cover;
}
.company-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    align-items: flex-end;
    padding: 0px 400px 51px 86px;
    justify-content: flex-end;
}
.white {
    color: #fff;
}
.text {
    font-size: 22px;
    line-height: 145.3%;
}
.workflow-text:before,
.service-wrapper:before,
.company-box:before {
    content: attr(data-header);
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 92.3%;
    transform: translate(-50%,-50%) rotate(-90deg);
    position: absolute; 
    bottom: 25%;  
    left: 0px;
    text-transform: uppercase;
    z-index: -1;
    color: #F2F2F2;
}
.workflow-text:before,
.service-wrapper:before {
    font-size: 100px;
    bottom: -5%;
}
.workflow-text:before {
    bottom: -3%;
    left: -30px;
    justify-content: flex-end;
}
.company-box:after {
    content: attr(data-header);
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 92.3%;
    transform: translate(-50%,-50%) rotate(-90deg);
    position: absolute; 
    bottom: 0%;  
    left: 5.3%;
    text-transform: uppercase;
    color: #868686;
}
.service-wrapper:after {
    content: attr(data-small-header);
    position: absolute; 
    top: 26px;
    left: 50px;
    font-family: 'Gilroy';
    font-weight: 900;
    font-size: 40px;
    line-height: 105.8%;
    color: #EDEDED;
    z-index: -1;
}
.border {
    position: absolute;
    width: auto;
    height: auto; 
    align-self: auto;
}
.bottom-left {
    bottom: 0px;
    left: 0px;
}
.company-box .bottom-left {
    transform: translate(-15%,20%);
}
.service {
    flex-direction: column;
}
.service-thumb {
    width: auto;
    height: auto;
}
.service-box {
    max-width: 336px;
}
.service-wrapper {
    display: flex;
    flex-direction: row;
    padding: 110px 87px 110px 87px;
    margin-top: 58px;
    justify-content: space-between;
}
.top-left {
    transform: rotateX(180deg);
    top: 0px;
    left: 0px;
}
.bottom-right {
    bottom: 0px;
    right: 0px;
    transform: rotateY(180deg);
}
.top-right {
    top: 0px;
    right: 0px;
}
.first-child {
    margin-bottom: 140px;
}
.service-box {
    flex-direction: row;
    justify-content: space-between;
}
.service-box div{
    max-width: 248px;
}
.small-bold-header {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 105.8%;
}
.service-box p {
    font-weight: 500;
    font-size: 20px;
    line-height: 105.8%;
}
.service {
    overflow: hidden;
}
.workflow .row {
    flex-direction: row;
    position: relative;
}
.workflow .row:before {
    content: attr(data-header);
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 92.3%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-200%);
    top: 0px;
    color: #F2F2F2;
}
.workflow .row .col {
    max-width: 50%;
}
.video {
    background: #272727;
    height: 100%;
    min-height: 563px;
    align-items: center;
    justify-content: center;
    align-content: unset;
    position: relative;
}
.video iframe {
    width: 100%;
    height: 100%;
}
.workflow-text {
    position: relative;
}
.work-text {
    font-weight: 500;
    font-size: 26px;
    line-height: 176.3%;
    margin-top: 90px;
}
.video:before {
    content: attr(data-header);
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 144.3%;
    display: flex;
    align-items: center;
    color: #E7E7E7;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(0,-50%);
    text-transform: uppercase;
}
.team-wrapper {
    margin-top: 56px;
    max-width: 872px;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.team-box {
    max-width: 49%;
    height: 262px;
    background-color: #E1E1E1;
    margin-bottom: 25px;
}
.team-wrapper:before {
    content: "OUR";
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 92.3%;
    color: #F2F2F2;
    position: absolute;
    top: 0px;
    right: -40%;
}
.team-wrapper:after {
    content: "team";
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 144.3%;
    color: #000000;
    position: absolute;
    top: 50px;
    right: -43%;
    text-transform: uppercase;
}
.img-fluid {
    width: 100%;
    height: 100%;
    
}
.team-box img {
    object-fit: cover;
}
.slider-arrows {
    width: auto;
    height: auto;
    cursor: pointer;
}
.projects-wrapper {
    position: relative;
    margin-top: 34px;
}
.projects-wrapper:before {
    content: attr(data-header);
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 180px;
    line-height: 92.3%;
    color: #F2F2F2;
    position: absolute;
    text-transform: uppercase;
    top: 0px;
    left: 0px;
    transform: translate(-5%,-60%);
    z-index: -1;
}
.projects-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects-controller {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,50%);
    flex-direction: row;
}
.project-info .p-info {
    max-width: 185px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.project-info .p-info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 92.3%;
    margin-top: 17px;
}
.next-btn,
.prev-btn {
    width: 50px;
    flex-direction: row;
    align-self: center;
    padding-top: 30px;
    margin: 0px 33px;
}
.medium-header {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 92.3%;
    color: #000000;
    text-transform: uppercase;
}
.project-info {
    max-width: 580px;
    box-sizing: border-box;
    padding: 42px 0px;
    flex-direction: row;
    background: rgba(224, 224, 224, 0.9)
}
.border{
    pointer-events: none;
}
.footer {
    z-index: 999;
}
.footer .col-5 {
    width: 50%;
}
.footer div {
    flex-direction: row;
}
.footer .col-5:nth-child(1) {
    position: relative;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #151515 url('../images/feedback.png') no-repeat right;
}
.footer .col-5:nth-child(1):before {
    content: attr(data-header);
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 300px;
    line-height: 92.3%;
    color: #1B1B1B;
    position: absolute;
    bottom: 0px;
    text-transform: uppercase;
    left: 0px;
    transform: translate(-50%,-100%) rotate(-90deg);
}
.white-header {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 92.3%;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: -190px;
}
.footer img {
    width: auto;
    height: auto;
}
.footer .col-5:nth-child(2) {
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#form {
    max-width: 490px;   
    display: flex;
    justify-content: center;
}
.small-header {
    font-weight: bold;
    font-size: 30px;
    line-height: 92.3%;
}
.form-info {
    margin: 55px 0px 78px 0px;
}
.form-info p,
.form-info a {
    font-size: 24px;
    line-height: 92.3%;
    margin-bottom: 15px;
    margin-left: 15px;
}
.form-info img {
    margin-left: 7px;
}
.input-group {
    margin-top: 27px;
    flex-direction: column;
    position: relative;
}
.input {
    width: 100%;
    border-bottom: 2px solid #000;
    text-align: center;
    padding-bottom: 27px;
    position: relative;
}
.input-group label ,
.input,
.input::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 92.3%;
    color: #000000;

}
.first-input {
    margin-top: 45px;
}
#message {
    width: 100%;
    border: 2px solid #000;
    box-sizing: border-box;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 92.3%;
    display: flex;
    align-items: center;

    text-align: center;
    margin: 22px 0px 35px 0px;
    padding: 15px;
}
#message::placeholder {
    color: #D9D9D9;
}
#form button {
    background: #000000;
    color: #fff;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 92.3%;
    padding: 15px 44px;
}
.input-group:not(.textarea):before {
    content: "";
    width: 0%;
    height: 2px;
    background: rgba(255, 0, 0, .9);
    position: absolute;
    bottom: 0px;
    z-index: 999;
    left: 0px;
    transition: .5s;
}
.input-group.warning:before {
    width: 100%;
}
.textarea.warning #message{
    border-color: rgba(255, 0, 0, .9);
}